{% comment %}
  Cross Sell custom markup builder (xsell). Load once in theme layout when shop.metafields.shopCrosssell is configured.
  Ported from legacy theme; pairs with snippets/cross-sell.liquid and the Cross Sell app (xsellLib).
{% endcomment %}
{%- liquid
  if plp_quickshop == nil
    assign plp_quickshop = true
  endif
  assign xs_preorder_marker = settings.product_preorder_message | default: '__xs_no_preorder__'
-%}
<script>
  window.xsellCustom = window.xsellCustom || {};
  window.xsellCustom.theme_settings = window.xsellCustom.theme_settings || {};
  window.xsellCustom.buildxsellsoutput = function (xsellitems, numproducts) {
    var xsmustbeavailable = xsellSettings.xsmustbeavailable;
    var xshideifincart = xsellSettings.xshideifincart;
    var xsdisplaycompareatprice = xsellSettings.xsdisplaycompareatprice;
    var xsdisplaysalebadge = xsellSettings.xsdisplaysalebadge;
    var xsdisplaypricevarieslabel = xsellSettings.xsdisplaypricevarieslabel;
    var xsdisplayvendor = xsellSettings.xsdisplayvendor;
    var xsimagesize = 'large';
    var xsvendoroutput = '';
    var xspricevarieslabel = '';
    var xscompareatprice = '';
    var xscompareatpricestring = '';
    var xssalepricestring = '';
    var xspriceoutput = '';
    var xssalebadge = '<span class="product-badge"><span>Sale</span></span>';
    var xssalebadgeoutput = '';
    var xspreorderbadgeoutput = '';
    var xssoldout = '';
    var xsquickshop = '';
    var saleclass = ' xs-sale';
    var fromlabel = '<em>from</em>';
    var xsprice = '';
    var xsPreorderTag = {{ xs_preorder_marker | json }};

    for (var x = 0; x < numproducts; x++) {
      var xsproductdata = xsellitems[x];
      var xsProductTags = xsproductdata.tags;

      if (xsproductdata.images.length > 1) {
        var csimage = xsellLib.productimageurls(xsproductdata.images[0]);
        var csimagetwo = xsellLib.productimageurls(xsproductdata.images[1]);
      } else if (xsproductdata.images.length == 1) {
        var csimage = xsellLib.productimageurls(xsproductdata.images[0]);
        var csimagetwo = csimage;
      } else {
        var csimage = 'https://cdn.shopify.com/s/images/admin/no-image-' + xsimagesize + '.gif';
        var csimagetwo = csimage;
      }
      if (xsdisplayvendor) {
        xsvendoroutput =
          '<div class="xs-vendor-name"><a href="' + xsproductdata.url + '">' + xsproductdata.vendor + '</a></div>';
      }

      xsprice = xsellLib.xsformatMoney(xsproductdata.price, '{{ shop.money_format }}');
      xspriceMin = xsellLib.xsformatMoney(xsproductdata.price_min, '{{ shop.money_format }}');
      xspriceMax = xsellLib.xsformatMoney(xsproductdata.price_max, '{{ shop.money_format }}');
      if (xsdisplaypricevarieslabel) {
        if (xsproductdata.price_varies) {
          xspricevarieslabel = 'Starting at: ';
        } else {
          xspricevarieslabel = '';
        }
      }

      if (xsproductdata.compare_at_price > xsproductdata.price) {
        xscompareatprice = xsellLib.xsformatMoney(xsproductdata.compare_at_price, '{{ shop.money_format }}');
        xspriceoutput = '<div class="price-box  has-special">';
        xspriceoutput +=
          '<span class="h2 product-price-x" itemprop="price-x" content="' +
          xsproductdata.price / 100 +
          '">' +
          xsprice +
          '</span>';
        xspriceoutput += '<span class="product-compare-price">' + xscompareatprice + '</span>';
        xspriceoutput += '</div>';
      } else if (xsproductdata.price_varies) {
        xspriceoutput =
          '<div class="price-box"><span class="h2 product-price-x" itemprop="price-x" content="' +
          xsproductdata.price / 100 +
          '">' +
          xspriceMin +
          ' - ' +
          xspriceMax +
          '</span></div>';
      } else {
        xspriceoutput =
          '<div class="price-box"><span class="h2 product-price-x" itemprop="price-x" content="' +
          xsproductdata.price / 100 +
          '">' +
          xsprice +
          '</span></div>';
      }

      if (xsdisplaysalebadge) {
        if (xsproductdata.compare_at_price > xsproductdata.price) {
          xssalebadgeoutput = xssalebadge;
        } else {
          xssalebadgeoutput = '';
        }
      }

      if (true) {
        var xsProductBadgeTag = xsProductTags.find(function (tag) {
          return tag.includes('badge:');
        });
        if (xsProductBadgeTag) {
          xssalebadgeoutput =
            '<span class="product-badge"><span>' + xsProductBadgeTag.replace('badge:', '') + '</span></span>';
        } else {
          xssalebadgeoutput = '';
        }
      }

      if (true) {
        xspreorderbadgeoutput = '';
        if (xsPreorderTag && xsPreorderTag !== '__xs_no_preorder__') {
          var xsProductPreorderTag = xsProductTags.find(function (tag) {
            return tag.includes(xsPreorderTag);
          });
          if (xsProductPreorderTag) {
            xspreorderbadgeoutput = '<span class="product-badge"><span>Pre-order</span></span>';
          } else {
            xspreorderbadgeoutput = '';
          }
        }
      }

      var htmlSecondaryImg = '';
      if (xsellLib.userSettings.hoover_secondary_image) {
        htmlSecondaryImg = '<img class="product-image alt" src="' + csimagetwo + '" />';
      }

      if (xsproductdata.available) {
        xssoldout = '';
      } else {
        xssoldout = '<p class="out-of-stock">' + "{{ 'products.product.sold_out' | t }}" + '</p>';
      }

      {%- if plp_quickshop -%}
      if (xsproductdata.available) {
        xsquickshop =
          '<button type="button" class="quick-shop-trigger" data-url="' +
          xsproductdata.url +
          '">Quick Shop</button>';
      } else {
        xsquickshop = '';
      }
      {%- endif -%}

      xsellLib.xselloutput += '<div class="item" data-xsorder="' + xsproductdata['order'] + '">';
      xsellLib.xselloutput += '<div class="product-image-wrapper">';
      xsellLib.xselloutput += '<a href="' + xsproductdata.url + '">';
      xsellLib.xselloutput += '<img class="product-image" src="' + csimage + '" />';
      xsellLib.xselloutput += htmlSecondaryImg;
      xsellLib.xselloutput += '</a>';
      xsellLib.xselloutput += xssalebadgeoutput;
      xsellLib.xselloutput += xspreorderbadgeoutput;
      xsellLib.xselloutput += xsquickshop;
      xsellLib.xselloutput += '</div>';
      xsellLib.xselloutput += '<div class="product-info-wrapper">';
      xsellLib.xselloutput += '<p class="product-name">' + xsproductdata.title + '</p>';
      xsellLib.xselloutput += xspriceoutput;
      xsellLib.xselloutput += xssoldout;
      xsellLib.xselloutput += '</div>';
      xsellLib.xselloutput += '</div>';
    }

    if (xsellLib.xselloutput != '') {
      var innerHtml =
        '<div class="crosssell-text"><h3 class="title" aria-level="2" role="heading">' +
        xsellLib.settings.xstitle +
        '</h3></div><div class="collection-products items">' +
        xsellLib.xselloutput +
        '</div>';
      if (document.getElementById('cross-sell')) {
        var xsellDiv = document.createElement('div');
        xsellDiv.innerHTML = innerHtml;
        document.getElementById('cross-sell').appendChild(xsellDiv);
      }
      if (document.getElementById('cross-sell-cart')) {
        var xsellDivCart = document.createElement('div');
        xsellDivCart.innerHTML = innerHtml;
        document.getElementById('cross-sell-cart').appendChild(xsellDivCart);
      }
      if (document.getElementById('cross-sell-minicart')) {
        var xsellDivMini = document.createElement('div');
        xsellDivMini.innerHTML = innerHtml;
        document.getElementById('cross-sell-minicart').appendChild(xsellDivMini);
      }
    } else {
      var hasCrossSellDiv = document.getElementsByClassName('has-cross-sell');
      if (hasCrossSellDiv.length) {
        for (var i = 0; i < hasCrossSellDiv.length; i++) {
          hasCrossSellDiv[i].classList.remove('has-cross-sell');
        }
      }
    }
  };
</script>
