<div class="header-top">
  {%- for block in brand_blocks -%}
    <a
      href="{{ block.settings.brand_page_link | default: '/' }}"
      class="header-block header-brand brand--{{ block.id }}"
    >
      <img
        class="brand-logo desktop-only"
        src="{{ block.settings.tab_image | img_url: 'x42' }}"
        alt="{{ block.settings.text }}"
      >
      <img
        class="brand-logo mobile-only"
        src="{{ block.settings.mobile_tab_image | img_url: 'x42' }}"
        alt="{{ block.settings.text }}"
      >
    </a>
  {%- endfor -%}

  {% render 'header-icons', section: section, class: 'hide-max-1024' %}
</div>
