{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- liquid
  assign linked_key = settings.product_linked_key | default: '_linked:'
  assign linked_key_down = linked_key | downcase
  assign linked_options_setting = settings.product_linked_options | default: 'Option,Variation'
  assign linked_option_names = linked_options_setting | split: ','
  assign linked_collection = blank
  assign linked_option_name = blank
  assign linked_product_tag = blank
  assign linked_collection_from_title = false
  assign has_linked_products = false

  for collection in product.collections
    assign title_parts = collection.title | downcase | split: linked_key_down
    if title_parts.size > 1 and collection.products_count > 1
      assign linked_collection = collection
      assign linked_collection_from_title = true
      break
    endif
  endfor

  unless linked_collection != blank
    for tag in product.tags
      assign tag_down = tag | downcase
      if tag_down contains linked_key_down
        assign linked_product_tag = tag
        break
      endif
    endfor

    if linked_product_tag != blank
      for collection in product.collections
        if collection.products_count < 2
          continue
        endif
        assign matching_siblings = 0
        for sibling in collection.products
          if sibling.tags contains linked_product_tag
            assign matching_siblings = matching_siblings | plus: 1
          endif
        endfor
        if matching_siblings > 1
          assign linked_collection = collection
          break
        endif
      endfor
    endif
  endunless

  for option_name in linked_option_names
    assign option_name_stripped = option_name | strip
    if product.options contains option_name_stripped
      assign linked_option_name = option_name_stripped
      break
    endif
  endfor

  if linked_collection != blank and linked_option_name != blank
    assign has_linked_products = true
  endif
-%}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    {{ block.shopify_attributes }}
  >
    {%- if has_linked_products -%}
      {% render 'product-linked-options',
        product: product,
        section: section,
        linked_collection: linked_collection,
        linked_option_name: linked_option_name,
        linked_product_tag: linked_product_tag,
        linked_collection_from_title: linked_collection_from_title
      %}
    {%- endif -%}

    {%- for option in product.options_with_values -%}
      {%- if has_linked_products and option.name == linked_option_name -%}
        {%- continue -%}
      {%- endif -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-value>
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label product-form__pill-legend">{{ option.name }}</legend>
          <div class="product-form__pill-row">
            {% render 'product-variant-options',
              product: product,
              option: option,
              block: block,
              picker_type: picker_type
            %}
          </div>
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-value
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    <script type="application/json" data-selected-variant>
      {{ product.selected_or_first_available_variant | json }}
    </script>
  </variant-selects>
{%- endunless -%}
