<div class="card__badge {{ settings.badge_position }}{% if card_product.available == false %} card__badge--sold-out{% elsif card_product.compare_at_price > card_product.price and card_product.available %} card__badge--on-sale{% elsif card_product.available and card_product.selected_or_first_available_variant.inventory_management == 'shopify' and card_product.selected_or_first_available_variant.inventory_quantity > 0 and card_product.selected_or_first_available_variant.inventory_quantity <= 10 %} card__badge--low-stock{% endif %}">
  {%- if card_product.available == false -%}
    <span
      id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
      class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
    >
      {{- 'products.product.sold_out' | t -}}
    </span>
  {%- elsif card_product.compare_at_price > card_product.price and card_product.available -%}
    <span
      id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
      class="badge badge--bottom-left color-{{ settings.sale_badge_color_scheme }}"
    >
      {{- 'products.product.on_sale' | t -}}
    </span>
  {%- elsif card_product.available
    and card_product.selected_or_first_available_variant.inventory_management == 'shopify'
    and card_product.selected_or_first_available_variant.inventory_quantity > 0
    and card_product.selected_or_first_available_variant.inventory_quantity <= 10
  -%}
    <span
      id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
      class="badge badge--bottom-left color-{{ settings.low_stock_badge_color_scheme | default: 'accent-1' }}"
    >
      {{- 'products.product.inventory_low_stock' | t -}}
    </span>
  {%- endif -%}
</div>
