{% form 'contact', class: 'utility-contact-form' %}
  {%- if form.posted_successfully? -%}
    <p class="utility-form-success" tabindex="-1" autofocus>
      {{ 'templates.contact.form.post_success' | t }}
    </p>
  {%- endif -%}

  <div class="utility-fieldset">
    <div class="utility-field utility-field--col">
      <label for="UtilityContactFormName">{{ 'templates.contact.form.name' | t }}</label>
      <input
        type="text"
        name="contact[name]"
        id="UtilityContactFormName"
        autocomplete="name"
        value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
      >
    </div>
    <div class="utility-field utility-field--col">
      <label for="UtilityContactFormEmail">{{ 'templates.contact.form.email' | t }}</label>
      <input
        type="email"
        name="contact[email]"
        id="UtilityContactFormEmail"
        autocomplete="email"
        spellcheck="false"
        autocapitalize="off"
        value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      >
    </div>
    <div class="utility-field">
      <label for="UtilityContactFormPhone">{{ 'templates.contact.form.phone' | t }}</label>
      <input
        type="tel"
        name="contact[phone]"
        id="UtilityContactFormPhone"
        autocomplete="tel"
        pattern="[0-9\-]*"
        value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
      >
    </div>
    <div class="utility-field">
      <label for="UtilityContactFormMessage">{{ 'templates.contact.form.comment' | t }}</label>
      <textarea
        rows="10"
        name="contact[body]"
        id="UtilityContactFormMessage"
      >{% if form.body %}{{ form.body }}{% endif %}</textarea>
    </div>
  </div>

  {{ form.errors | default_errors }}

  <div class="utility-form-actions">
    <button type="submit" class="utility-btn">{{ 'templates.contact.form.send' | t }}</button>
  </div>
{% endform %}
