{% schema %}
{
  "name": "Article Related Products",
  "settings": [
    {
      "type": "product_list",
      "id": "related_products",
      "label": "Products",
      "limit": 6
    },
    {
      "type": "checkbox",
      "id": "horizontal_layout",
      "label": "Horizontal Layout?",
      "default": false
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_shape",
      "label": "t:sections.main-collection-product-grid.settings.image_shape.label",
      "default": "square",
      "options": [
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_shape.options.option_1"
        },
        {
          "value": "arch",
          "label": "t:sections.main-collection-product-grid.settings.image_shape.options.option_2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article Related Products",
      "category": "Article",
      "settings": {}
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}

{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<section class="blog-related-products-section">
  <div class="page-width">
    <ul
      class="grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--4-col-desktop grid--2-col-tablet-down{% if section.settings.horizontal_layout %} grid--horizontal{% endif %}"
      role="list"
      aria-label="{{ 'general.slider.name' | t }}"
    >
      {% assign skip_card_product_styles = false %}
      {%- for product in section.settings.related_products -%}
        {% assign lazy_load = false %}
        {%- if forloop.index > 2 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}
        <li
          class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
          {% endif %}
        >
          {% render 'card-product',
            card_product: product,
            media_aspect_ratio: 'square',
            show_secondary_image: true,
            show_vendor: false,
            show_rating: true,
            lazy_load: lazy_load,
            skip_styles: skip_card_product_styles,
            section_id: section.id,
            quick_add: 'standard'
          %}
        </li>
        {%- assign skip_card_product_styles = true -%}
      {%- endfor -%}
    </ul>
  </div>
</section>
