{% schema %}
{
  "name": "Article Visual Callouts",
  "settings": [],
  "blocks": [
    {
      "type": "callout",
      "name": "Callout",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Callout Title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Add your callout content here.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Article Visual Callouts",
      "category": "Article",
      "blocks": [
        {
          "type": "callout"
        }
      ]
    }
  ],
  "enabled_on": {
    "templates": ["article"]
  }
}
{% endschema %}

<style>
  .callout {
    margin-bottom: 30px;
  }

  .callout-content {
    padding: 20px;
  }

  .callout-content a {
    text-decoration:underline;
  }

  .callout-media {
    aspect-ratio: 1 / 1;
    overflow:hidden;
    position:relative;
  }

  .callout-media img,
  .callout-media video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    object-fit:cover;
  }

  .blog-fun .callout-media {
    border-radius:12px;
  }

  @media screen and (min-width: 960px) {
    .callout {
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }

    .callout-media {
      flex-basis: 400px;
      flex-grow: 0;
    }

    .callout-content {
      flex: 1;
    }
  }

  @media screen and (max-width: 959px) {
    .callout-media {
      width: 100%;
    }
  }
</style>

<section class="article-visual-callouts">
  <div class="home-container">
    {% for block in section.blocks %}
        <div class="callout" {{ block.shopify_attributes }}>
          <div class="callout-media">
            {% if block.settings.video != blank %}
              {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
            {% elsif block.settings.image != blank %}
              {{ block.settings.image | image_url: width: 800 | image_tag: loading: 'lazy' }}
            {% endif %}
          </div>
          <div class="callout-content">
            <h3>{{ block.settings.title }}</h3>
            <div class="rte">
              {{ block.settings.content }}
            </div>
          </div>
        </div>
      {% endfor %}
  </div>
</section>
